<td> <a href="/admin/add-details" class="btn btn-success" style="margin-left: 50%;">Add</a> </td>
<section>
  <div class="container">


    <table class="table mt-5" id="productsTable">
      <thead>
        <tr>

          <th scope="col">Name</th>
          <th scope="col">Email id</th>
          <th scope="col">Details</th>
          <th> Option</th>

        </tr>
      </thead>
      <tbody>

        {{#each products}}
        <tr>

          <td>{{this.Name}}</td>
          <td>{{this.Email}}</td>
          <td>{{this.Password}}</td>
          <td>
            <a href="/admin/edit-product/{{this._id}}" class="btn btn-primary">Edit</a>
            <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger"
              onclick="return confirm('Are you sure want to delete{{this.name}}?')">Delete</a>

          </td>

        </tr>
        {{/each}}

      </tbody>
    </table>

  </div>

</section>

<script>
  $(document).ready(function () {
    $('#productsTable').DataTable();
  });
</script>
